.status-ticket-card {
  width: 35vw;
  flex: 35%;
  padding: 1rem;
  height: 40vh;
}

.ticket-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  height: 100vh;
}

.ticket-click {
  cursor: pointer;
}

.ticket-history-status {
  overflow: auto;
  height: 100%;
}

.status-type {
  width: 35vw;
}

.ticket-list {
  overflow: auto;
  height: 40vh;
}
