.edit-profile {
  display: flex;
  justify-content: space-between;
}

.column {
}

.middle-column-text {
  color: grey;
}

.right-column-text {
  color: dodgerblue;
}

.right-column-text:hover {
  cursor: pointer;
}
